[Desktop Entry]
Name=Neovide
Comment=Rust GUI for NeoVim
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
/* Exec=/home/moritz/bin/neovide-wrapper */
Exec=/bin/bash -c "source /home/moritz/.asdf/asdf.sh; neovide"
Icon=/home/moritz/.local/share/neovide.png
Type=Application
Terminal=false
Categories=Utility;TextEditor;
